<link rel="stylesheet" href="/styles/table.css">

<style>

    FORM.tr,
    DIV.tr {
        display: table-row;
    }

    SPAN.td {
        display: table-cell;
        height: 10px;
        width: 20px;
    }

    DIV.tr-main {
        background: white;
        color: black;
    }

    button {
        height: 30px
    }

    SPAN.td-fixed {
        background: white;
        color: black
    }

    DIV.table-wrapper {
        width: 70%
    }
</style>

  {{!-- navbar --}}
  <nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">MILA</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </input>
    <a class="btn btn-default" type="submit">
    <i class="fas fa-search"></i>
    </a>
    <button id="adminBtn" type="button" class="btn btn-light">Back</button>
  </form>
  </nav>


<div class="container">
    <div class="text-center">
        <div class="jumbotron jumbotron-fluid" id="liveTableJumbotron">
            <div class="container">
                <h1 class="display-4 text-dark"><strong>Welcome to your Live Table!</strong></h1>
                <p class="lead text-dark"><strong>Please make any edits you see fit and be sure to press 
                    the 'Edit' button to save your changes!</strong></p>
            </div>
        </div>
        <br>

        {{!-- <h1 style="color: white">All Mila Captions</h1> --}}
        <div class="table">
            <table class="table table-responsive" id="liveTable">
                <thead>
                    <tr>
                        {{!-- <th>ID</th> --}}
                        <th>Caption</th>
                        <th>Category</th>
                        <th>Tags<br> (don't include spaces)</th>
                        <th>Username</th>
                        <th>Reference</th>
                        <th>Featured?</th>
                        <th>Lyric? <br> (must re-designate on edit)</th>
                        <th>Quote? <br> (must re-designate on edit)</th>
                        <th>Original Author</th>
                        {{!-- <th>Likes</th> --}}
                        {{!-- <th>Images</th>
                            <th>Comments</th>
                            <th>Created</th> --}}
                        {{!-- <th>Last Updated</th> --}}
                    </tr>
                </thead>
                <tbody>

                    {{#each captions}}
                    <tr>
                        <form class="edit-table">
                            {{!-- <td>{{id}}</td> --}}
                            <td><input style="width: 300px;" type="text" class="caption-{{id}}" value="{{caption}}">
                            </td>
                            <td><input style="width: 100px;" type="text" class="category-{{id}}" value="{{category}}">
                            </td>
                            <td><input style="" type="text" class="tags-{{id}}" value="{{tags}}"></td>
                            <td><input style="width: 75px;" type="text" class="username-{{id}}" value="{{username}}"></td>
                            <td><input style="" type="text" class="reference-{{id}}" value="{{reference}}"></td>
                            <td><p style="width:50px;">{{featured}}</p></td>
                            <td><input style="width: 50px;" type="checkbox" id="lyric-{{id}}"></td>
                            <td><input style="width: 50px;" type="checkbox" id="quote-{{id}}"></td>
                            <td><input style="width: 100px;" type="text" class="originalAuthor-{{id}}"
                                    value="{{originalAuthor}}"></td>
                            <td><input style="width: 30px;" type="text" class="likes-{{id}}" value="{{likes}}"></td>
                            {{!-- <td><input type="text" class="images-{{id}}" value="{{images}}"></td>
                                <td><input type="text" class="comments-{{id}}" value="{{comments}}"></td>
                                <td><input type="text" class="created_at-{{id}}" value="{{created_at}}"></td> --}}
                            {{!-- <td><input type="text" class="updatedAt-{{id}}" value="{{updatedAt}}"></td> --}}
                            <td><button type="button" class="btn btn-info view-user-comments" value="{{id}}">View Comments</button></td>
                            <td><button type="submit" class="btn btn-primary edit-user-button" value="{{id}}">Edit</button></td>
                            <td><button type="submit" class="btn btn-danger delete-user-button" value="{{id}}">Delete</button></td>

                        </form>
                        {{/each}}

                </tbody>
            </table>
        </div>
        {{!-- </div> --}}
        {{!-- </div> --}}

        {{!-- </div>
    </div> --}}

    </div>
</div>